<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templateStyle.css">
</head>
<body>
{% if app.session.movies is defined %}
    movies: {{ app.session.movies }}
{% endif %}
<h1 class="text-center "> Movies </h1>
<table class="container justify-content-center table border border-2 border-dark table-bordered sort align-middle text-center" id="movie-table">
    <thead>
    <tr>
        <form method="post">
            <th></th>
            <th><button name="sort_criterion" value="title" class="btn bg-secondary">Title</button></th>
            <th><button name="sort_criterion" value="producer" class="btn bg-secondary">Producer</button></th>
            <th><button name="sort_criterion" value="year" class="btn bg-secondary">Year</button></th>
            <th><button name="sort_criterion" value="playtime" class="btn bg-secondary">Playtime</button></th>
            <th><button name="sort_criterion" value="fsk" class="btn bg-secondary">FSK</button></th>
            <th></th>
        </form>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td> {{ loop.index0 }}</td>
            <td> {{ movie.title }}</td>
            <td> {{ movie.producer }}</td>
            <td> {{ movie.year }}</td>
            <td> {{ movie.playtime }}</td>
            <td> {{ movie.fsk }}</td>
            <td>
                <form method="post">
                    <button name="delete_movie" value="{{ loop.index0 }}" class="btn bg-danger"> X </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form class="text-center" method="post">
    <h2> Add a new movie</h2>
    <table class="justify-content-center input-group">
        <tr><td><label><input type="text" name="title" required placeholder="Title"></label></td></tr>
        <tr><td><label><input type="text" name="producer" pattern="[a-zA-Z]+" required placeholder="Producer"></label></td></tr>
        <tr><td><label><input type="text" name="year" pattern="[0-9]{4}" required placeholder="Year"></label></td></tr>
        <tr><td><label><input type="text" name="playtime" pattern="0*[1-9][0-9]*" required placeholder="Playtime"></label></td></tr>
        <tr><td><label><input type="text" name="fsk" pattern="0|6|12|16|18" required placeholder="FSK"></label></td></tr>
    </table>
    <button type="submit" name="add_movie" class="btn bg-success"> Add Movie </button>
</form>
<form class="text-center" method="post">
    <button type="submit" name="reset_session" class="btn btn-danger"> Delete session </button>
</form>
</body>
</html>